.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 800px;
  margin: 0 auto;
  row-gap: 5px;
}

.calculator-display {
  display: grid;
  grid-template-rows: 150px;
}

.calculator-display-value {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 60px;
  background-color:grey;
  padding-right: 10px;
  color: white;
}

.calculator-keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 150px);
  gap: 5px;
}

.calculator-keypad-key {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: var(--yellow);
}

.zero {
  grid-column: 1 / span 2;
}

.divide,
.multiply,
.subtract,
.add {
  background-color: orange;
}
